/// Variables

// Typography
$base-font-family: "Proxima Nova Condensed", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$bold-font-weight: 700;
$base-line-height: 1.6;

$font-size-1:      36px;
$font-size-2:      24px;
$font-size-3:      20px;
$font-size-4:      18px;
$font-size-5:      14px;
$font-size-6:      12px;

// Colors
$black:                       #000;
$white:                       #FFF;
$text-color:                  #090909;
$background-color:            #E5E5E5;
$brand-color:                 #3295FF;
$brand-dark-color:            darken($brand-color, 5%);
$brand-secondary-color:       #47B442;
$brand-secondary-dark-color:  darken($brand-secondary-color, 5%);
$grey-color:                  #666;
$grey-light-color:            #B7B7B7;

// Layout
$grid-gutter:      20px;
$site-max-width:   960px;

// Decoration
$border-radius: 5px;

/// Media Query Mixins
$fix-mqs: false !default;

@mixin respond-to($content) {
  @if $fix-mqs {
    @if $content == med {
      $content: 770px;
    } @else if $content == sml {
      $content: 401px;
    }
    @if $fix-mqs >= $content {
      @content;
    }
  }
  @else {
    @if $content == site-width {
      @media only screen and (min-width: $site-max-width) { @content; }
    } @else if $content == med {
      @media only screen and (min-width: 770px) { @content; }
    } @else if $content == sml {
      @media only screen and (min-width: 401px) { @content; }
    } @else {
      @media only screen and (min-width: $content) { @content; }
    }
  }
}

@mixin respond-to-max($content) {
  @if $content == site-width {
    @media only screen and (max-width: 999px) { @content; }
  } @else if $content == med {
    @media only screen and (max-width: 769px) { @content; }
  } @else if $content == sml {
    @media only screen and (max-width: 400px) { @content; }
  } @else {
    @media only screen and (max-width: $content) { @content; }
  }
}

/// Vendor Prefixed Mixins

// Transition
@mixin transition ($attrs) {
  -webkit-transition: $attrs;
     -moz-transition: $attrs;
      -ms-transition: $attrs;
       -o-transition: $attrs;
          transition: $attrs;
}
