<% wrap_layout :layout do %>
  <div class="section">
    <div class="wrapper">
      <div class="sml-c12 med-c8 grid-center">
        <%= partial "partials/action",
              :locals => {
                :action => current_article,
                :is_index => false,
                :is_first => true
              } %>
      </div> <!-- .c -->
    </div> <!-- .wrapper -->
  </div><!-- .section -->
<% end %>
