<div class="section">
  <div class="wrapper">
    <div class="sml-c12">
      <h1 class="text-center"><%= title %></h1>
      <hr class="push-top-half" />

      <ul class="hoz push-top">
        <li>See actions tagged:</li>
        <li>
          <% blog.tags.each do |tag, articles| %>
            <%= link_to tag.gsub('-', ' '), "/actions/tags/#{tag}",
                  :class => 'tag' %>
          <% end %>
        </li>
      </ul>
    </div> <!-- .c -->

    <% articles.each_slice(3) do |article_group| %>
      <div class="row">
        <% article_group.each do |article| %>
          <div class="sml-c12 med-c4">
            <%= partial "partials/action",
                  :locals => {
                    :action => article,
                    :is_index => true
                  } %>
          </div> <!-- .c -->
        <% end %>
      </div> <!-- .row -->
    <% end %>

    <%= partial "partials/pagination", :locals => { :paginate => paginate } %>
  </div> <!-- .wrapper -->
</div><!-- .section -->
