@import "../_setup";

/// Buttons

.btn {
  display: inline-block;
  padding: $grid-gutter/2 $grid-gutter;
  overflow: hidden;
  background: $brand-secondary-color;
  border: none;
  border-radius: $border-radius;
  color: $white;
  cursor: pointer;
  font-size: $font-size-4;
  text-align: center;
  text-decoration: none;
    -moz-user-select:    none;
    -webkit-user-select: none;
  user-select:           none;
  -webkit-appearance: none;
}
button.btn {
  vertical-align: top;
}
.btn:hover,
.btn:focus,
.btn:active {
  background: $brand-secondary-dark-color;
  border: none;
  color: $white;
}

// Button > Block
.btn.block {
  display: block;
  width: 100%;
}
