@import "../_setup";

/// Buttons

.btn {
  position: relative;
  display: inline-block;
  padding: $grid-gutter/2 $grid-gutter;
  overflow: hidden;
  background: $brand-secondary-color;
  border: none;
  box-shadow: 0 4px 0 $brand-secondary-dark-color;
  color: $white;
  cursor: pointer;
  font-size: $font-size-3;
  font-weight: $bold-font-weight;
  text-align: center;
  text-decoration: none;
    -moz-user-select:    none;
    -webkit-user-select: none;
  user-select:           none;
  -webkit-appearance: none;
  @include transition(none);
}
button.btn {
  vertical-align: top;
}
.btn:hover,
.btn:focus,
.btn:active {
  top: 2px;
  border: none;
  box-shadow: 0 2px 0 $brand-secondary-dark-color;
  color: $white;
}

// Button > Block
.btn.block {
  display: block;
  width: 100%;
}
