@import "../_setup";

/// Modules
.mod {
  background: $white;
}

// Module > With Padding
.mod.mod-with-pad {
  padding: $grid-gutter;
}

// Module > Bottom
.mod.mod-with-top-border {
  border-top: 1px solid $grey-light-color;
}
