html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, datalist, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

*:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  line-height: 1; }

pre, code {
  font-family: monospace; }

input, textarea, button {
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

cite {
  font-style: normal; }

html,
body {
  height: 100%; }

body {
  background: #E5E5E5; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  overflow: hidden; }

.row {
  width: 100%;
  overflow: hidden; }

.tuck-bottom {
  margin-bottom: 0; }

.sml-c1,
.med-c1,
.lrg-c1 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.sml-c2,
.med-c2,
.lrg-c2 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.sml-c3,
.med-c3,
.lrg-c3 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.sml-c4,
.med-c4,
.lrg-c4 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.sml-c5,
.med-c5,
.lrg-c5 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.sml-c6,
.med-c6,
.lrg-c6 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.sml-c7,
.med-c7,
.lrg-c7 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.sml-c8,
.med-c8,
.lrg-c8 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.sml-c9,
.med-c9,
.lrg-c9 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.sml-c10,
.med-c10,
.lrg-c10 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.sml-c11,
.med-c11,
.lrg-c11 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.sml-c12,
.med-c12,
.lrg-c12 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.sml-c1,
.med-c1,
.lrg-c1 {
  float: left; }

.sml-c2,
.med-c2,
.lrg-c2 {
  float: left; }

.sml-c3,
.med-c3,
.lrg-c3 {
  float: left; }

.sml-c4,
.med-c4,
.lrg-c4 {
  float: left; }

.sml-c5,
.med-c5,
.lrg-c5 {
  float: left; }

.sml-c6,
.med-c6,
.lrg-c6 {
  float: left; }

.sml-c7,
.med-c7,
.lrg-c7 {
  float: left; }

.sml-c8,
.med-c8,
.lrg-c8 {
  float: left; }

.sml-c9,
.med-c9,
.lrg-c9 {
  float: left; }

.sml-c10,
.med-c10,
.lrg-c10 {
  float: left; }

.sml-c11,
.med-c11,
.lrg-c11 {
  float: left; }

.sml-c1 {
  width: 8.33333%; }

.sml-c2 {
  width: 16.66667%; }

.sml-c3 {
  width: 25%; }

.sml-c4 {
  width: 33.33333%; }

.sml-c5 {
  width: 41.66667%; }

.sml-c6 {
  width: 50%; }

.sml-c7 {
  width: 58.33333%; }

.sml-c8 {
  width: 66.66667%; }

.sml-c9 {
  width: 75%; }

.sml-c10 {
  width: 83.33333%; }

.sml-c11 {
  width: 91.66667%; }

.sml-s0 {
  margin-left: 0%; }

.sml-s1 {
  margin-left: 8.33333%; }

.sml-s2 {
  margin-left: 16.66667%; }

.sml-s3 {
  margin-left: 25%; }

.sml-s4 {
  margin-left: 33.33333%; }

.sml-s5 {
  margin-left: 41.66667%; }

.sml-s6 {
  margin-left: 50%; }

.sml-s7 {
  margin-left: 58.33333%; }

.sml-s8 {
  margin-left: 66.66667%; }

.sml-s9 {
  margin-left: 75%; }

.sml-s10 {
  margin-left: 83.33333%; }

.sml-s11 {
  margin-left: 91.66667%; }

.sml-c12 {
  width: 100%; }

.sml-no-pad {
  padding-left: 0;
  padding-right: 0; }

@media only screen and (min-width: 770px) {
  .med-c1 {
    width: 8.33333%; }

  .med-c2 {
    width: 16.66667%; }

  .med-c3 {
    width: 25%; }

  .med-c4 {
    width: 33.33333%; }

  .med-c5 {
    width: 41.66667%; }

  .med-c6 {
    width: 50%; }

  .med-c7 {
    width: 58.33333%; }

  .med-c8 {
    width: 66.66667%; }

  .med-c9 {
    width: 75%; }

  .med-c10 {
    width: 83.33333%; }

  .med-c11 {
    width: 91.66667%; }

  .med-s1 {
    margin-left: 8.33333%; }

  .med-s2 {
    margin-left: 16.66667%; }

  .med-s3 {
    margin-left: 25%; }

  .med-s4 {
    margin-left: 33.33333%; }

  .med-s5 {
    margin-left: 41.66667%; }

  .med-s6 {
    margin-left: 50%; }

  .med-s7 {
    margin-left: 58.33333%; }

  .med-s8 {
    margin-left: 66.66667%; }

  .med-s9 {
    margin-left: 75%; }

  .med-s10 {
    margin-left: 83.33333%; }

  .med-s11 {
    margin-left: 91.66667%; }

  .med-c12 {
    width: 100%; }

  .med-no-pad {
    padding-left: 0;
    padding-right: 0; }

  .med-pad {
    padding-left: 10px;
    padding-right: 10px; } }
@media only screen and (min-width: 960px) {
  .lrg-c1 {
    width: 8.33333%; }

  .lrg-c2 {
    width: 16.66667%; }

  .lrg-c3 {
    width: 25%; }

  .lrg-c4 {
    width: 33.33333%; }

  .lrg-c5 {
    width: 41.66667%; }

  .lrg-c6 {
    width: 50%; }

  .lrg-c7 {
    width: 58.33333%; }

  .lrg-c8 {
    width: 66.66667%; }

  .lrg-c9 {
    width: 75%; }

  .lrg-c10 {
    width: 83.33333%; }

  .lrg-c11 {
    width: 91.66667%; }

  .lrg-s0 {
    margin-left: 0%; }

  .lrg-s1 {
    margin-left: 8.33333%; }

  .lrg-s2 {
    margin-left: 16.66667%; }

  .lrg-s3 {
    margin-left: 25%; }

  .lrg-s4 {
    margin-left: 33.33333%; }

  .lrg-s5 {
    margin-left: 41.66667%; }

  .lrg-s6 {
    margin-left: 50%; }

  .lrg-s7 {
    margin-left: 58.33333%; }

  .lrg-s8 {
    margin-left: 66.66667%; }

  .lrg-s9 {
    margin-left: 75%; }

  .lrg-s10 {
    margin-left: 83.33333%; }

  .lrg-s11 {
    margin-left: 91.66667%; }

  .lrg-c12 {
    width: 100%; }

  .lrg-no-pad {
    padding-left: 0;
    padding-right: 0; }

  .lrg-pad {
    padding-left: 10px;
    padding-right: 10px; } }
.grid-center {
  margin-left: auto;
  margin-right: auto;
  float: none; }

.pull-right {
  float: right;
  margin-left: 20px; }

.push-top-quarter {
  margin-top: 5px; }

.push-top-half {
  margin-top: 10px; }

.push-top {
  margin-top: 20px; }

.push-top-double {
  margin-top: 30px; }
  @media only screen and (min-width: 770px) {
    .push-top-double {
      margin-top: 40px; } }

@media only screen and (min-width: 770px) {
  .med-push {
    margin-top: 20px; } }

@media only screen and (min-width: 770px) {
  .med-no-push {
    margin-top: 0; } }

@media only screen and (min-width: 960px) {
  .lrg-no-push {
    margin-top: 0; } }

@font-face {
  font-family: "Proxima Nova Condensed";
  src: url("../fonts/proximanovacond-regular.eot");
  src: url("../fonts/proximanovacond-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovacond-regular.woff2") format("woff2"), url("../fonts/proximanovacond-regular.woff") format("woff"), url("../fonts/proximanovacond-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova Condensed";
  src: url("../fonts/proximanovacond-semibold.eot");
  src: url("../fonts/proximanovacond-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovacond-semibold.woff2") format("woff2"), url("../fonts/proximanovacond-semibold.woff") format("woff"), url("../fonts/proximanovacond-semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
body, select, input, textarea {
  font: 400 16px/1.6 "Proxima Nova Condensed", Helvetica, Arial, sans-serif;
  color: #090909; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 36px;
  line-height: 1.1; }

h2 {
  font-size: 24px;
  line-height: 1.3; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

p {
  margin-bottom: 1em; }

p:last-of-type {
  margin-bottom: 0; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.small {
  font-size: 12px; }

.meta {
  color: #666; }

.text-center {
  text-align: center; }

a {
  color: #673AB7;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

a:hover,
a:focus {
  border-bottom: 1px solid #673AB7; }

a.text {
  color: #090909; }

a.text:hover,
a.text:focus {
  color: #673AB7; }

a.tag {
  display: inline-block;
  padding: 0 5px;
  background: #673AB7;
  border: none;
  color: #FFF; }

a.tag:hover,
a.tag:focus {
  background: #512e90;
  border: none; }

blockquote {
  padding-left: 20px;
  border-left: 5px solid #673AB7;
  font-style: italic; }

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 0;
  background: #B7B7B7;
  border: none; }

div#site-header {
  background: #FFF;
  border-bottom: 1px solid #B7B7B7; }

div#site-header div.site-logo {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px; }

div#site-header div.site-logo a:hover,
div#site-header div.site-logo a:focus {
  border: none; }

div#site-header div.site-logo img {
  display: none;
  width: auto;
  height: auto;
  float: left; }
  @media only screen and (min-width: 770px) {
    div#site-header div.site-logo img {
      display: block; } }

@media only screen and (min-width: 770px) {
  div#site-header div.site-logo .text {
    float: left;
    margin-top: 17px;
    margin-left: 10px; } }

div#site-header div.site-logo .text span {
  font-weight: 700; }

@media only screen and (max-width: 769px) {
  div#site-header div.site-nav ul {
    display: block;
    width: 100%;
    text-align: center; } }
@media only screen and (min-width: 770px) {
  div#site-header div.site-nav ul {
    float: right; } }

@media only screen and (max-width: 769px) {
  div#site-header div.site-nav ul li {
    display: block;
    border-top: 1px solid #B7B7B7; } }
@media only screen and (min-width: 770px) {
  div#site-header div.site-nav ul li {
    float: left; } }

div#site-header div.site-nav ul li a {
  display: block;
  padding: 13px 20px 10px;
  border-bottom: 4px solid transparent;
  color: #090909;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase; }
  @media only screen and (min-width: 770px) {
    div#site-header div.site-nav ul li a {
      padding-top: 30px;
      padding-bottom: 26px; } }

div#site-header div.site-nav ul li a:hover,
div#site-header div.site-nav ul li a:focus {
  border-bottom-color: #512e90;
  color: #512e90; }

div#site-header div.site-nav ul li a.cur {
  background: #673AB7;
  border-bottom-color: #512e90;
  color: #FFF; }

#site-header .menu-label {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 20px 10px;
  background: #673AB7;
  border-bottom: 4px solid #512e90;
  color: #FFF;
  cursor: pointer;
  font-size: 24px;
  line-height: 1; }
  @media only screen and (min-width: 770px) {
    #site-header .menu-label {
      display: none; } }

#menu-toggle {
  display: none; }

@media only screen and (max-width: 769px) {
  #menu {
    display: none; } }

#menu-toggle:checked ~ #menu {
  display: block; }

#menu-toggle:checked ~ .menu-label {
  background: #512e90;
  color: #FFF; }

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  overflow: hidden;
  background: #1DA933;
  border: none;
  box-shadow: 0 4px 0 #178628;
  color: #FFF;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

button.btn {
  vertical-align: top; }

.btn:hover,
.btn:focus,
.btn:active {
  top: 2px;
  border: none;
  box-shadow: 0 2px 0 #178628;
  color: #FFF; }

.btn.block {
  display: block;
  width: 100%; }

img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.image {
  position: relative; }

.image .image-credit {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px 10px 5px;
  color: #FFF;
  text-align: right;
  background: rgba(0, 0, 0, 0.7);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%); }

.bullets,
.rich-text ul {
  list-style-type: disc; }

.numbers,
.rich-text ol {
  list-style-type: decimal; }

.bullets,
.numbers,
.rich-text ul,
.rich-text ol {
  padding-left: 20px; }

.bullets li,
.numbers li,
.rich-text li {
  padding: 5px 0; }

.hoz {
  list-style: none; }

.hoz li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px; }

.hoz li:first-of-type {
  padding-left: 0; }

.hoz li:last-of-type {
  padding-right: 0; }

.tags {
  overflow: hidden;
  list-style: none; }

.tags li.label {
  padding-right: 10px; }

.tags li {
  display: block;
  float: left;
  margin-top: 5px;
  padding-right: 5px; }

.tags li:last-of-type {
  padding-right: 0; }

.section {
  padding-top: 40px;
  padding-bottom: 40px; }
  @media only screen and (min-width: 770px) {
    .section {
      padding-top: 60px;
      padding-bottom: 60px; } }

.section.hero {
  background: #512e90;
  color: #FFF; }
  @media only screen and (min-width: 770px) {
    .section.hero {
      padding-top: 0;
      padding-bottom: 0; } }

@media only screen and (min-width: 770px) {
  .section.hero .wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    background: url("../images/torch.gif") bottom right no-repeat; } }

.mod {
  background: #FFF; }

.mod.mod-with-pad {
  padding: 20px; }

.mod.mod-with-top-border {
  border-top: 1px solid #B7B7B7; }

.rich-text > :first-child {
  margin-top: 0; }

.rich-text > :last-child {
  margin-bottom: 0; }

.rich-text p {
  margin-bottom: 1em; }

.rich-text h1,
.rich-text h2,
.rich-text h3 {
  margin: 20px 0;
  text-align: center; }

.rich-text blockquote {
  margin: 0.75em 0; }

.rich-text img {
  margin: 20px auto;
  width: 100%;
  height: auto; }

.rich-text ul,
.rich-text ol {
  margin: 1em 0; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  display: inline-block;
  font-family: 'icons';
  speak: none;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  vertical-align: bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon.left {
  float: left;
  padding-right: 10px; }

.icon.right {
  float: right;
  padding-left: 10px; }
