@import "../_setup";

/// GRID

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: $site-max-width;
  overflow: hidden;
}
.row {
  width: 100%;
  overflow: hidden;
}
.tuck-bottom {
  margin-bottom: 0;
}

// Columns all widths
@for $i from 1 through 12 {
  .sml-c#{$i},
  .med-c#{$i},
  .lrg-c#{$i} {
    position: relative;
    padding-left:  $grid-gutter/2;
    padding-right: $grid-gutter/2;
    min-height: 1px;
  }
}
@for $i from 1 through 11 {
  .sml-c#{$i},
  .med-c#{$i},
  .lrg-c#{$i} {
    float: left;
  }
}

// Small+ columns
@for $i from 1 through 11 {
  .sml-c#{$i} {
    width: 8.3333333333% * $i;
  }
}
@for $i from 0 through 11 {
  .sml-s#{$i} {
    margin-left: 8.3333333333% * $i;
  }
}
.sml-c12 {
  width: 100%;
}
.sml-no-pad {
  padding-left: 0;
  padding-right: 0;
}

// Medium+ Columns
@include respond-to(med) {
  @for $i from 1 through 11 {
    .med-c#{$i} {
      width: 8.3333333333% * $i;
    }
  }
  @for $i from 1 through 11 {
    .med-s#{$i} {
      margin-left: 8.3333333333% * $i;
    }
  }
  .med-c12 {
    width: 100%;
  }
  .med-no-pad {
    padding-left: 0;
    padding-right: 0;
  }
  .med-pad {
    padding-left:  $grid-gutter/2;
    padding-right: $grid-gutter/2;
  }
}

// Large+ Columns
@include respond-to(site-width) {
  @for $i from 1 through 11 {
    .lrg-c#{$i} {
      width: 8.3333333333% * $i;
    }
  }
  @for $i from 0 through 11 {
    .lrg-s#{$i} {
      margin-left: 8.3333333333% * $i;
    }
  }
  .lrg-c12 {
    width: 100%;
  }
  .lrg-no-pad {
    padding-left: 0;
    padding-right: 0;
  }
  .lrg-pad {
    padding-left:  $grid-gutter/2;
    padding-right: $grid-gutter/2;
  }
}

// Center Columns
.grid-center {
  margin-left:  auto;
  margin-right: auto;
  float: none;
}

// Right Align non-column content
.pull-right {
  float: right;
  margin-left: $grid-gutter;
}

// Vertical Spacing
.push-top-quarter {
  margin-top: $grid-gutter/4;
}
.push-top-half {
  margin-top: $grid-gutter/2;
}
.push-top {
  margin-top: $grid-gutter;
}
.push-top-double {
  margin-top: $grid-gutter*1.5;

  @include respond-to(med) {
    margin-top: $grid-gutter*2;
  }
}
.med-push {
  @include respond-to(med) {
    margin-top: $grid-gutter;
  }
}
.med-no-push {
  @include respond-to(med) {
    margin-top: 0;
  }
}
.lrg-no-push {
  @include respond-to(site-width) {
    margin-top: 0;
  }
}
