---
blog: actions
pageable: true
---

<div class="section">
  <div class="wrapper">
    <div class="sml-c12">
      <h1 class="text-center">Actions tagged <%= tagname %></h1>
      <hr class="push-top-half" />

      <ul class="tags push-top">
        <li class="label">See actions tagged:</li>
        <% blog.tags.each do |tag, page_articles| %>
          <li>
            <%= link_to tag.gsub('-', ' '), "/actions/tags/#{tag}",
                  :class => 'tag' %>
          </li>
        <% end %>
      </ul>
    </div> <!-- .c -->

    <% page_articles.each_slice(3) do |article_group| %>
      <div class="row">
        <% article_group.each do |article| %>
          <div class="sml-c12 med-c4">
            <%= partial "partials/action",
                  :locals => {
                    :action => article,
                    :is_index => true
                  } %>
          </div> <!-- .c -->
        <% end %>
      </div> <!-- .row -->
    <% end %>

    <%= partial "partials/pagination", :locals => { :paginate => paginate } %>
  </div> <!-- .wrapper -->
</div><!-- .section -->
