---
title: About
---

<div class="section">
  <div class="wrapper">
    <div class="sml-c12">
      <h1 class="text-center">About</h1>
      <hr class="push-top-half" />
    </div> <!-- .c -->

    <div class="sml-c12 med-c6 grid-center push-top-double rich-text">
      <p>
        In the aftermath of the 2016 election, many of us were left with anger,
        despair, and a question. <em>&ldquo;What do we do now?&rdquo;</em>
      </p>
      <p>
        The Alliance is our answer to that question. We will fight every day
        with all the energy we can muster. Some days that may be hours, some it
        may be minutes. Collectively our thousands of minutes makes lifetimes
        worth of showing that there are still decent human beings in the world,
        looking out for each other regardless of the color of our skin, our
        gender, where we were born, or who we choose to love.
      </p>
      <h3>
        We are all allies.
      </h3>
      <blockquote>
        Give me your tired, your poor,<br>
        Your huddled masses yearning to breathe free,<br>
        The wretched refuse of your teeming shore.<br>
        Send these, the homeless, tempest-tost to me,<br>
        I lift my lamp beside the golden door!<br>
        <p class="push-top-half">
          - Emma Lazarus (1883), inscribed on the Statue of Liberty's plaque
        </p>
      </blockquote>
    </div> <!-- .c -->
  </div> <!-- .wrapper -->
</div><!-- .section -->
