---
title: About
---

<div class="section">
  <div class="wrapper">
    <div class="sml-c12">
      <h1 class="text-center">About</h1>
      <hr class="push-top-half" />
    </div> <!-- .c -->

    <div class="sml-c12 med-c6 grid-center push-top-double">
      <p>Coming soon &hellip;</p>
    </div> <!-- .c -->
  </div> <!-- .wrapper -->
</div><!-- .section -->
