---
title: Welcome to The Alliance
sharing_image: "http://thealliance.today/images/alliance-logo.png"
---

<div class="section hero">
  <div class="wrapper">
    <div class="sml-c12 med-c7">
      <h1>Standing up for human rights, one action at a time.</h1>
      <h1 class="push-top-half">
        By doing something every day, our voices will triumph over hatred.
      </h1>
      <div class="push-top">
        <%= link_to 'Take Action Now', '/actions', :class => 'btn' %>
      </div> <!-- .push -->
    </div> <!-- .c -->
  </div> <!-- .wrapper -->
</div><!-- .section -->

<div class="section">
  <div class="wrapper">
    <div class="sml-c12">
      <h2>Latest Actions</h2>
      <hr class="push-top-half" />
    </div> <!-- .c -->
    <div class="row push-top">
      <% blog(:actions).articles.first(3).each do |article| %>
        <div class="sml-c12 med-c4">
          <%= partial "partials/action",
                :locals => {
                  :action => article,
                  :is_index => true
                } %>
        </div> <!-- .c -->
      <% end %>
    </div> <!-- .row -->
    <div class="sml-c12 text-center">
      <hr class="push-top-double" />
      <div class="push-top">
        <%= link_to 'See all actions', '/actions' %>
      </div> <!-- .push -->
    </div> <!-- .c -->
  </div> <!-- .wrapper -->
</div><!-- .section -->
